
form{
    margin: 8px 0;
    font-family: Roboto;
    
}

#signin div{
    margin: 10px 0;
}

#signin input{
    width:100%;
    padding: 6px;
    height: 40px;
    color:#f8a625;
}


#signin label{
    font-size: 18px;
}

#signin input:focus{
    outline: none;
}

.sign{
    font-family: Roboto;
}