@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Great Vibes", sans-serif;
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


